* {
	box-sizing: border-box;
	font-family: system-ui;
	margin: 0;
	padding: 0;
}

:root {
	--red-100: #FFE7E5;
	--red-200: #FFBDAF;
	--red-300: #E65F5C;
	--red-400: #761111;
	--red-500: #282524;
	--green-100: #E8FFEE;
	--green-200: #36EFB1;
	--green-300: #32D789;
	--green-400: #03330A;
	--green-500: #242825;
	--blue-100: #E8F4FF;
	--blue-200: #6EE4FF;
	--blue-300: #41C0EC;
	--blue-400: #031F33;
	--blue-500: #242528;
	--grey-100: #72FFF9;
	--grey-200: #67E6E0;
	--grey-300: #387D7A;
	--grey-400: #173332;
	--grey-500: #242424;
	--gradient-angle: 45deg;
	--gradient-position: 50%;
	--gradient-scale: 1;
	--gradient-offset: 0;
	--gradient-intensity: 0.125;
	--gradient-falloff: 0.03125;
}

main {
	justify-content: flex-end;
	background-color: var(--green-100);
	display: flex;
}

canvas#webgl {
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
}

section {
	width: 100%;
}

.blank-section {
	background-color: var(--green-100);
	height: 100vh;
	position: relative;
}

h1 {
	color: var(--grey-400);
	font-family: system-ui;
	font-size: 288px;
	font-weight: 700;
	left: 50%;
	letter-spacing: -8px;
	line-height: 1;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	z-index: 1;
}

.ball {
	background-color: var(--blue-300);
	border-radius: 50%;
	display: inline-block;
	height: 50px;
	left: 48px;
	position: absolute;
	top: 48px;
	width: 50px;
}

.ball:nth-of-type(2) {
	top: 148px;
}

.ball:nth-of-type(3) {
	top: 248px;
}

.ball:nth-of-type(4) {
	top: 348px;
}

.ball:nth-of-type(5) {
	top: 448px;
}

.ball:nth-of-type(6) {
	top: 548px;
}

.ball:nth-of-type(7) {
	top: 648px;
}

.animated-element {
	bottom: 0;
	display: flex;
	flex-direction: column;
}

.images {
	flex-shrink: 0;
	overflow: hidden;
	padding: 24px 0;
	position: relative;
	width: 100vw;
}

.images-row {
	display: flex;
	will-change: transform;
}

.images-row:nth-of-type(1) {
	margin-left: -500px;
}

.images-row:nth-of-type(3) {
	margin-left: -250px;
}

.image-item {
	background-color: var(--blue-300);
	border-radius: 50%;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.16), 0 2px 16px 0 rgba(0,0,0,0.08);
	flex-shrink: 0;
	height: 150px;
	margin: 8px;
	transform-origin: center center;
	transform-style: preserve-3d;
	width: 150px;
	z-index: -1;
}

.image-item:before {
	background-color: var(--blue-400);
	border-radius: 50%;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.48), 0 0 8px 0 rgba(0,0,0,0.24);
	content: '';
	display: block;
	height: calc(100% - 16px);
	left: 8px;
	position: absolute;
	top: 8px;
	transform: scale(var(--gradient-scale)) translateX(var(--gradient-offset)) translateY(calc(-1 * var(--gradient-offset)));
	width: calc(100% - 16px);
}

.image-item:nth-of-type(3n) {
	background-color: var(--red-300);
}

.image-item:nth-of-type(2n) {
	background-color: var(--green-300);
	z-index: 2;
}

.copy {
	margin-bottom: 48px;
	position: relative;
	text-align: center;
}

.copy h2 {
	color: var(--grey-400);
	font-family: system-ui;
	font-size: 72px;
	font-weight: 700;
	letter-spacing: -1px;
	line-height: 1;
	margin-bottom: 24px;
}

.copy p {
	color: var(--grey-300);
	font-family: system-ui;
	font-size: 40px;
	font-weight: 600;
	line-height: 1.33333;
}

.copy em {
	color: var(--grey-500);
	font-style: normal;
}