* {
	box-sizing: border-box;
	font-family: system-ui;
	margin: 0;
	padding: 0;
}

:root {
	--red-100: #FFE7E5;
	--red-200: #FFBDAF;
	--red-300: #E65F5C;
	--red-400: #761111;
	--red-500: #282524;
	--green-100: #E8FFEE;
	--green-200: #36EFB1;
	--green-300: #32D789;
	--green-400: #03330A;
	--green-500: #242825;
	--blue-100: #E8F4FF;
	--blue-200: #6EE4FF;
	--blue-300: #41C0EC;
	--blue-400: #031F33;
	--blue-500: #242528;
	--grey-100: #72FFF9;
	--grey-200: #67E6E0;
	--grey-300: #387D7A;
	--grey-400: #173332;
	--grey-500: #242424;
	--gradient-angle: 45deg;
	--gradient-position: 50%;
	--gradient-scale: 1;
	--gradient-offset: 0;
	--gradient-intensity: 0.125;
	--gradient-falloff: 0.03125;
}

main {
	justify-content: flex-end;
	background-color: var(--green-100);
	display: flex;
}

canvas#webgl {
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
}

section {
	width: 100%;
}

.blank-section {
	height: 100vh;
	position: relative;
}

.blank-section:first-of-type {
	background-color: var(--green-200);
}

h1 {
	color: var(--grey-500);
	font-family: system-ui;
	font-size: 288px;
	font-weight: 700;
	left: 50%;
	letter-spacing: -8px;
	line-height: 1;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	will-change: transform;
}

.sticky-wrapper {
	margin-bottom: 300px;
	position: relative;
}

.sticky-element {
	display: flex;
	flex-direction: column;
	height: 150vh;
	position: sticky;
	top: 0;
	z-index: 2;
}

.canvas {
	bottom: 0;
	height: 100%;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 100%;
	z-index: -1;
}

.copy-item {
	opacity: 0;
	position: absolute;
	transform: translateY(25px);
	transition: opacity 400ms ease, transform 400ms ease;
	width: 300px;
	will-change: transform;
}

.copy-item.show {
	opacity: 1;
	transform: translateY(0px);
}

.copy-item:nth-of-type(1) {
	left: 200px;
	top: 5%;
}

.copy-item:nth-of-type(2) {
	left: 200px;
	top: 20%;
}

.copy-item:nth-of-type(3) {
	right: 200px;
	top: 25%;
}

.copy-item p {
	color: var(--grey-300);
	font-family: system-ui;
	font-size: 21px;
	font-weight: 600;
	letter-spacing: 0.011em;
	line-height: 1.2;
	width: 100%;
}

.copy-item p em {
	color: var(--grey-500);
	font-style: normal;
}

.hidden-element {
	bottom: 0;
	height: 100vh;
	left: 50%;
	position: absolute;
	transform: translate(-50%, 310px);
}

.hidden-element--sticky {
	height: 310px;
	position: sticky;
	top: calc(100vh - 310px);
	width: 400px;
}

.hidden-element p {
	color: var(--grey-300);
	font-family: system-ui;
	font-size: 21px;
	font-weight: 600;
	letter-spacing: 0.011em;
	line-height: 1.2;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 33.33333%;
	transition: opacity 400ms ease;
	width: 100%;
}

.hidden-element p em {
	color: var(--grey-500);
	font-style: normal;
}

p.show {
	opacity: 1;
}