* {
	box-sizing: border-box;
	font-family: system-ui;
	margin: 0;
	padding: 0;
}

main {
	justify-content: flex-end;
	background-color: #242528;
	display: flex;
}

canvas {
	flex-shrink: 0;
	height: 50vw;
	left: 0;
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	width: 50vw;
}

canvas#webgl {
	left: 0;
	position: fixed;
	top: 0;
}

aside {
	padding: 96px;
	width: 50vw;
}

aside p {
	color: #E8FFEE;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.33333;
	margin-bottom: 48px;
}